<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.utt.if26.projetif26_drouotrenard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Parametrer.Parametrer4Activity"></activity>
        <activity android:name=".Parametrer.Parametrer3Activity" />
        <activity android:name=".Parametrer.Parametrer2Activity" />
        <activity android:name=".Stocker.Stocker2Activity" />
        <activity android:name=".Tracabilite.Tracabilite3Activity" />
        <activity android:name=".Tracabilite.Tracabilite2Activity" />
        <activity android:name=".Utiliser.Utiliser3Activity" />
        <activity android:name=".Utiliser.Utiliser2Activity" />
        <activity android:name=".Tracabilite.TracabiliteActivity" />
        <activity android:name=".Stocker.StockerActivity" />
        <activity android:name=".Parametrer.ParametrerActivity" />
        <activity android:name=".Utiliser.UtiliserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>